@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bgColor: #ffffff;
    --textColor: #1a1a1a;
    --secondaryColor: #667085;
  }
  [data-theme="dark"] {
    --bgColor: #090d1f;
    --textColor: #ffffff;
    --secondaryColor: #c0c5d0;
  }
}
@layer base {
  body {
    font-size: 0.875rem;
    background-color: var(--bgColor);
    color: var(--textColor);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
@layer utilities {
  /* link */
  .link {
    @apply text-blue-600;
  }
  .link:hover {
    @apply underline;
  }
  /* btn */
  .btn {
    @apply border py-2 px-4 rounded-lg transition flex items-center justify-center gap-4 cursor-pointer;
  }
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 border-none text-white;
  }
  .btn-secondary {
    @apply bg-gray-600 hover:bg-gray-700 border-none text-white;
  }
  .btn-success {
    @apply bg-green-600 hover:bg-green-700 border-none text-white;
  }
  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 border-none text-white;
  }

  /* input */
  .input-box {
    @apply border py-2 px-4 rounded-lg transition flex items-center gap-4 w-full bg-transparent;
  }
  .input-box:focus {
    @apply outline-blue-600 border-none;
  }
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* paginate */
.containerClassName {
  @apply flex justify-center items-center flex-wrap gap-4 py-8 px-4;
}
.pageClassName {
}
.pageLinkClassName {
  @apply p-2 flex items-center justify-center;
}
.activeLinkClassName {
  @apply text-red-500 font-semibold;
}

/* quill */
.quill .ql-container .ql-editor {
  @apply min-h-[300px] max-h-[600px];
}
